body { 
height: 600px;
background-color: rgba(0,0,0,.2);
font-family: 'Awesome-Font', Arial;
}

a:link { color:black; text-decoration:none; }
a:visited { color:black; text-decoration:none; }
a:focus { color:black; text-decoration:none; }
a:hover { color:black; text-decoration:none; }
a:active { color:black; text-decoration:none; }

 @font-face {
  font-family: 'Awesome-Font';
  font-style: normal;
  font-weight: 800;
  src: local('Awesome-Font'), local('Awesome-Font-Regular'), url(./fonts/OpenSans-Regular-webfont.woff) format('woff');
}

#leiste_oben { 
padding-left: 10px;
padding-top: 0px;
padding-bottom: 20px;
width: 97%;
height: 12px;
left: 10px;
top: 350px;
display:inline-block;
-webkit-box-shadow:0 6px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
margin:0 12px 10px 12px;
z-index:50;
}

#leiste_unten {
padding-left: 40px;
padding-top: 20px;
width: 60%;
min-width: 780px;
min-height: 50%;
height: auto;
left: 10px;
top: 350px;
display:inline-block;
-webkit-box-shadow:0 6px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 10px 12px;
overflow : auto;
}

#mitte {
padding-left: 40px;
width: 60%;
min-width: 780px;
min-height: 380px;
height: 60%;
left: 10px;
top: 350px;
display:inline-block;
-webkit-box-shadow:0 6px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 10px 12px;
overflow : auto;
}

#player {
float: left;
padding-right: 40px;
width: auto;
min-width: 310px;
min-height: 100%;
height: auto;
right: 60px;
left : 10px;
top: 74px;
display:inline;
padding:1px;
margin:0 0 1px 12px;
overflow-y: hidden;
overflow-x: hidden;
z-index:-5;
}

#playlist {
float: right;
padding-right: 40px;
width: 20%;
height: 109%;
right: 60px;
top: 74px;
display:inline;
-webkit-box-shadow:0 6px 6px 0 rgba(0,0,0,0.3);
box-shadow:0 2px 6px 0 rgba(0,0,0,0.3);
background:#fff;
padding:20px;
margin:0 0 1px 1px;
overflow : auto;
z-index:-1;
}
 .jp-playlist {
 height: 110%;
max-height: 526px;
overflow: auto;
 }
::-webkit-scrollbar-track
{

	background-color: #C8C8C8;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #4faac6;
}

::-webkit-scrollbar-thumb
{
	background-color: #4faac6;

}

div.figure {
  float: left;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  margin-left: 0px;
  margin-bottom: 0px;
}
div.figure p {
  text-align: center;
  text-indent: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  line-height: 5px;
  text-transform: uppercase;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
	border-radius: 1px;
	margin-top: 4px;
}

.ui-widget-content {
    background: #F9F9F9;
    border: 1px solid #4faac6;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#dialog {
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    background: #4faac6;
    border: 0;
    color: #fff;
    font-weight: normal;
	border-radius: 1px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
        font-size: 1em;
		border-radius: 1px;
}

#background-image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  }
body {
    margin:0;
}
#container {
    width:100%;
    font-size:0;
}
img {
    max-width:100%;
    max-height:100%;
}
.span4 {
    display:block;
    position:relative;

}
.red {

    float:left;
    overflow:hidden;

}
.span4 img {
padding-bottom: 4px;
}

.overlay {
    position:absolute;
    bottom:9px;
    width:0;
    width:20px;
    height:20px;
    opacity:0; /* Completely invisible. */
    transition:1s; /* A 1 second transition. */
}
.overlayisplaying {
    position:absolute;
    bottom:9px;
    width:0;
    width:20px;
    height:20px;
    opacity:1; /* Completely invisible. */
    transition:3s; /* A 1 second transition. */
}
.red:hover .overlay {
    opacity:1;
}

#birds {
    background: white url(../image/search-icon-th.png) right no-repeat;
    padding-right: 17px;
	background-size: 10px 10px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
font-size: 10px;
line-height: 15px;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

#albummenu:hover { 
   	background-color:#4faac6;
}

#albummenu { 
    margin-right: 40px;
}

.dialogpadding {
	padding-left: 10px;
	padding-right: 10px;
}

.ui-dialog .ui-dialog-titlebar 
{
    height: 40px; /* or whatever you want */
}

.ui-dialog .ui-dialog-title {
	float: left;
	padding-top: 10px;
}

.ui-widget-overlay { 
	background: #000 url("../image/ui-bg_flat_70_000_40x100.png") 50% 50% repeat-x; opacity: .7;filter:Alpha(Opacity=70);
}
.ui-widget-shadow { 
margin: -8px 0 0 -8px; 
padding: 8px; 
background: #aaaaaa url("../image/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; opacity: .3;
filter:Alpha(Opacity=30); 
-moz-border-radius: 8px; -khtml-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px; }